# erf_tutorial build product
1_erf/erf_tutorial
1_erf/erf_tutorial.obj
1_erf/erf_tutorial.exe
1_erf/erf_tutorialc
1_erf/erf_tutorialc.exe
1_erf/erf_tutorialc.obj
2_analisi/analisi_errori
2_analisi/analisi_errori.obj
2_analisi/analisi_errori.exe
2_analisi/analisi_erroric
2_analisi/analisi_erroric.obj
2_analisi/analisi_erroric.exe
3_fileio/fileio
3_fileio/fileio.obj
3_fileio/fileio.exe
3_fileio/fileioc
3_fileio/fileioc.obj
3_fileio/fileioc.exe
3_fileio/data_*.csv
